{% extends "blog/base.html" %}
{% block content %}
<div class="text-center">
<div class="csg-hover-box-categories"><ul id="category-section" class="a-nostyle a-list-link"><li class="csg-category"><a class="active" tabindex="0" rel="#help-gateway-category-0">
    <hr>
     </a><div style="display: block;" class="nav-sprite arrow"><i class="a-icon a-icon-supplemental"></i></div></li><li class="csg-category"><a tabindex="-1" rel="#help-gateway-category-1">
    Where's My Stuff? <hr>
    </a><div class="nav-sprite arrow"><i class="a-icon a-icon-supplemental"></i></div></li><li class="csg-category"><a tabindex="-1" rel="#help-gateway-category-2">
        <hr>
    Managing Your Orders 
    </a><div class="nav-sprite arrow"><i class="a-icon a-icon-supplemental"></i></div></li><li class="csg-category"><a tabindex="-1" rel="#help-gateway-category-3">
        <hr>
    Account Settings &amp; Payment Methods
    </a><div class="nav-sprite arrow"><i class="a-icon a-icon-supplemental"></i></div></li><li class="csg-category"><a tabindex="-1" rel="#help-gateway-category-4">
        <hr>
    Returns &amp; Refunds 
    </a><div class="nav-sprite arrow"><i class="a-icon a-icon-supplemental"></i></div></li><li class="csg-category"><a tabindex="-1" rel="#help-gateway-category-5">
        <hr>
    Shipping Policies 
    </a><div class="nav-sprite arrow"><i class="a-icon a-icon-supplemental"></i></div></li><li class="csg-category"><a tabindex="-1" rel="#help-gateway-category-6">
    <hr>
    </a><div class="nav-sprite arrow"><i class="a-icon a-icon-supplemental"></i></div></li><li class="csg-category"><a tabindex="-1" rel="#help-gateway-category-7">
        <hr>
    Digital Services &amp; Content 
    </a><div class="nav-sprite arrow"><i class="a-icon a-icon-supplemental"></i></div></li><li class="csg-category"><a tabindex="-1" rel="#help-gateway-category-8">
    <hr>
    Other Topics &amp; Help Sites </a><div class="nav-sprite arrow"><i class="a-icon a-icon-supplemental"></i></div></li><li class="csg-category"><a tabindex="-1" rel="#help-gateway-category-10"></a><div class="nav-sprite arrow"><i class="a-icon a-icon-supplemental"></i></div></li></ul></div>
    <hr>
</div>
{% endblock content%}